[dir="rtl"] .input-group-addon:not(:last-child){
    border-right: 1px solid rgba(0,0,0,.15);
    border-left: 0;
  }
  
  [dir="rtl"] .input-group .form-control:not(:last-child),
  [dir="rtl"] .input-group-addon:not(:last-child),
  [dir="rtl"] .input-group-btn:not(:first-child)>.btn-group:not(:last-child)>.btn,
  [dir="rtl"] .input-group-btn:not(:first-child)>.btn:not(:last-child):not(.dropdown-toggle),
  [dir="rtl"] .input-group-btn:not(:last-child)>.btn,
  [dir="rtl"] .input-group-btn:not(:last-child)>.btn-group>.btn,
  [dir="rtl"] .input-group-btn:not(:last-child)>.dropdown-toggle{
    border-bottom-right-radius: .25rem;
    border-top-right-radius: .25rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  
  [dir="rtl"] .input-group .form-control:not(:first-child),
  [dir="rtl"] .input-group-addon:not(:first-child),
  [dir="rtl"] .input-group-btn:not(:first-child)>.btn,
  [dir="rtl"] .input-group-btn:not(:first-child)>.btn-group>.btn,
  [dir="rtl"] .input-group-btn:not(:first-child)>.dropdown-toggle,
  [dir="rtl"] .input-group-btn:not(:last-child)>.btn-group:not(:first-child)>.btn,
  [dir="rtl"] .input-group-btn:not(:last-child)>.btn:not(:first-child){
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: .25rem;
    border-top-left-radius: .25rem;
  }
  
  [dir="rtl"] .form-control + .input-group-addon:not(:first-child){
    border-left: 1px solid rgba(0,0,0,.15);
    border-right: 0;
  }
  
  [dir="rtl"] .input-group .form-control:not(:first-child):not(:last-child),
  [dir="rtl"] .input-group .input-group-addon:not(:first-child):not(:last-child){
    border-radius: 0;
  }